{{#ifnotfalse grouped._timers.current}}
<div class='timer-time'>{{objcall grouped._timers.current 'getFormattedDuration'}}</div>
{{else}}
<div class='timer-time'>0</div>
{{/ifnotfalse}}

<form
  class='front-form-startstop'

  action='/timer/{{#ifnotfalse grouped._timers.current}}stop/{{grouped._timers.current._id}}{{else}}start{{/ifnotfalse}}'
  method='post'

  data-api-action='/api/timer/{{#ifnotfalse grouped._timers.current}}stop/{{grouped._timers.current._id}}{{else}}start{{/ifnotfalse}}'
  data-api-method='{{#ifnotfalse grouped._timers.current}}put{{else}}post{{/ifnotfalse}}'
  >

  {{#ifnotfalse grouped._timers.current}}
  <input name='type' type='hidden' value='stop'>
  {{else}}
  <input name='type' type='hidden' value='start'>
  {{/ifnotfalse}}
  <input name='actiontime' type='hidden' value=''>

  <input type='text' name='description'>
  <select name='jobid' class='hide-for-js-version'>
    {{#each grouped._jobs.all}}
      <option value='{{this._id}}'>{{this._members.name}}</option>
    {{/each}}
  </select>
  <button type='button' class='selectme' data-connect='jobid'>Job</button>

  <div class='timer {{#ifnotfalse grouped._timers.current}}timer--running{{else}}timer--stopped{{/ifnotfalse}} timer--init'>
    <button class='timer__clock' type='submit'><img src='/images/timer.svg' alt='running'></button>
    <button class='timer__add' type='submit'><img src='/images/add.svg' alt='add'></button>
  </div>

</form>
