{{#if timers.current}}
<div class='timer-time'>{{timers.current.start}}</div>
{{else}}
<div class='timer-time'>0</div>
{{/if}}

<form action='/timer/start' method='post'>

  <input type='text' name='description'>
  <select name='jobid'>
    {{#each jobs}}
      <option value='{{this._id}}'>{{this._members.name}}</option>
    {{/each}}
  </select>

  <div class='timer {{#if timers.current}}timer--running{{else}}timer--stopped{{/if}} timer--init'>
    <button class='timer__clock' type='submit'><img src='/images/timer.svg' alt='running'></button>
    <button class='timer__add' type='submit'><img src='/images/add.svg' alt='add'></button>
  </div>

</form>
