<div class='timer-list-item timer-list-item--{{_id}} {{#if dirty}}timer-list-item--dirty{{/if}}'>

  <div class='timer-list-item__name'>
  {{arrindexprop @root.grouped._jobs.all _members.jobID '_members.name'}}
  {{#if _members.description}}<span class='timer-list-item__name__description'>{{_members.description}}</span>{{/if}}
  {{#if _tagIDs}}
  -
  {{#each _tagIDs}}
    <span class='timer-list-item__name__tag'>{{arrindexprop @root.grouped._tags.all this '_members.name'}}</span>
  {{/each}}
  {{/if}}

    <div class='timer-list-item__actions'>
      {{#if isRunning}}
      <form
        class='timer-list-item__actions__stop'
        data-timer-id='{{_id}}'
        action='/timer/stop/{{_id}}'
        method='post'
        data-api-method='put'
        data-api-action='/api/timer/stop/{{_id}}'
        >
        <input name='actiontime' type='hidden' value=''>
        <button type='submit'><img src='/images/stop.svg' alt='stop'></button>
      </form>
      {{/if}}

      {{#ifequal @root.view.timerEditID _id}}
      <div class='timer-list-item__actions__edit timer-list-item__actions__edit--active' data-timer-id='{{_id}}'>
        <a href='/timers/'><img src='/images/cog.svg' alt='edit'></a>
      </div>
      {{else}}
      <div class='timer-list-item__actions__edit' data-timer-id='{{_id}}'>
        <a href='/timers/edit/{{_id}}/'><img src='/images/cog.svg' alt='edit'></a>
      </div>
      {{/ifequal}}
    </div>

  </div>


  {{#if isRunning}}
  <div class='timer-list-item__status timer-list-item__status--running'><img src='/images/timer.svg' alt='running'></div>
  {{else}}
  <div class='timer-list-item__status timer-list-item__status--complete'><img src='/images/checkmark.svg' alt='complete'></div>
  {{/if}}

  <div class='timer-list-item__timings edittimes' data-timer-id='{{_id}}'>
    <div class='timer-list-item__timings__duration'>
    {{objcall this 'getFormattedDuration' 0=true}}
    </div>
    <div class='timer-list-item__timings__started'>
    Started: {{getFormattedStartTime}}
    </div>
    {{#unless isRunning}}
    <div class='timer-list-item__timings__stopped'>
    Stopped: {{getFormattedStopTime}}
    </div>
    {{/unless}}
  </div>


  <div class='timer-list-item__subactions {{#ifequal @root.view.timerEditID _id}}timer-list-item__subactions--show{{/ifequal}}'>
    {{>timer-item-edit}}

    <form
      class='timer-list-item__delete'
      data-timer-id='{{_id}}'
      action='/timer/delete/{{_id}}'
      method='post'
      data-api-action='/api/timer/delete/{{_id}}'
      data-api-method='delete'
      >
      <button type='submit'><img class='icon-small' src='/images/bin.svg' alt='Delete' title='Delete'></button>
    </form>
  </div>

</div>
