<div class='timer-list-item timer-list-item--{{_id}}'>

  <div class='timer-list-item__name'>{{arrindexprop @root.grouped._jobs.all _members.jobID '_members.name'}}{{#if _members.description}}<span>{{_members.description}}{{/if}}</spam></div>

  {{#if isRunning}}

    <div class='timer-list-item__status timer-list-item__status--running'><img src='/images/timer.svg' alt='running'></div>
    <div class='timer-list-item__actions'>
      <form
        class='timer-list-item__actions__stop'
        data-timer-id='{{_id}}'
        action='/timer/stop/{{_id}}'
        method='post'
        data-api-method='put'
        data-api-action='/api/timer/stop/{{_id}}'
        >
        <input name='actiontime' type='hidden' value=''>
        <button type='submit'><img src='/images/stop.svg' alt='stop'></button>
      </form>
      <form
        class='timer-list-item__actions__edit {{#ifequal @root.view.timerEdit _id}}timer-list-item__actions__edit--active{{/ifequal}}'
        action='/timers/edit/{{_id}}'
        method='get'
        data-timer-id='{{_id}}'
        >
        <button type='submit'><img src='/images/cog.svg' alt='edit'></button>
      </form>
    </div>
    <div class='timer-list-item__timings'>
      <div class='timer-list-item__timings__duration'>
      <span>{{objcall this 'getFormattedDuration' 0=true}}</span>
      </div>
      <div class='timer-list-item__timings__started'>
      Started: {{getFormattedStartTime}}
      </div>
    </div>


    {{else}}

    <div class='timer-list-item__status timer-list-item__status--complete'><img src='/images/checkmark.svg' alt='complete'></div>
    <div class='timer-list-item__actions'>
      <form
        class='timer-list-item__actions__edit {{#ifequal @root.view.timerEdit _id}}timer-list-item__actions__edit--active{{/ifequal}}'
        action='/timers/edit/{{_id}}'
        method='get'
        data-timer-id='{{_id}}'
        >
        <button type='submit'><img src='/images/cog.svg' alt='edit'></button>
      </form>
    </div>
    <div class='timer-list-item__timings'>
      <div class='timer-list-item__timings__duration'>
      {{objcall this 'getFormattedDuration' 0=true}}
      </div>
      <div class='timer-list-item__timings__started'>
      Started: {{getFormattedStartTime}}
      </div>
      <div class='timer-list-item__timings__stopped'>
      Stopped: {{getFormattedStopTime}}
      </div>
    </div>


  {{/if}}

  <div class='timer-list-item__subactions {{#ifequal @root.view.timerEdit _id}}timer-list-item__subactions--show{{/ifequal}}'>
    <form
      class='timer-list-item__edit'
      data-timer-id='{{_id}}'
      action='/timer/update/{{_id}}'
      method='post'
      data-api-action='/api/timer/update/{{_id}}'
      data-api-method='put'
      >

      <select name='jobid' class='hide-for-js-version'>
        {{#each @root.grouped._jobs.all}}
          <option
            value='{{this._id}}'
            {{#ifequal this._id ../_members.jobID}}selected='selected'{{/ifequal}}
            >{{this._members.name}}</option>
        {{/each}}
      </select>
      <button type='button' class='selectme btn' data-connect='jobid'>{{arrindexprop @root.grouped._jobs.all _members.jobID '_members.name'}}</button>
      <input type='text' id='timer-list-item__edit__description__input' name='description' value='{{_members.description}}' placeholder='Description'>
      <button type='submit'><img class='icon-small' src='/images/checkmark.svg' alt='Save' title='Save'></button>
    </form>

    <form
      class='timer-list-item__delete'
      data-timer-id='{{_id}}'
      action='/timer/delete/{{_id}}'
      method='post'
      data-api-action='/api/timer/delete/{{_id}}'
      data-api-method='delete'
      >
      <button type='submit'><img class='icon-small' src='/images/bin.svg' alt='Delete' title='Delete'></button>
    </form>
  </div>

</div>
